__pycache__
.ansible
.ansible_facts
.DS_Store
.idea
.pre-commit-config.yaml
.tox
.vscode/settings.json
*-user-data.yaml
*-user-info.yaml
*.pyc
*.rc
*.retry
*.swp
*.vscode
*my_vars.yml
*secret_vars.yaml
*secret_vars.yml
*secret.*
*secret[_-]var.yaml
*secret[_-]var.yml
*secret[_-]vars.yaml
*secret[_-]vars.yml
*secrets[_-]var.yaml
*secrets[_-]var.yml
*secrets[_-]vars.yaml
*secrets[_-]vars.yml
ansible-navigator.log
ansible/collections/ansible_collections/*
ansible/configs/*/roles
ansible/destroy-artifact-*
ansible/lifecycle_entry_point-artifact-*
ansible/main-artifact-*
ansible/workload_vars.yml
artifacts
destroy-artifact-*
dynamic-cache
dynamic-roles
main-artifact-*
my_*_vars.yml
scripts/*.rc
Session.vim
set-env.sh
user-data.yaml
user-info.yaml
venv
