---
apiVersion: v1
kind: Secret
metadata:
  labels:
    hypershift.openshift.io/safe-to-delete-with-cluster: "true"
  name: {{ hcp_onprem_cluster_name }}-etcd-encryption-key
  namespace: {{ hcp_onprem_namespace }}
type: Opaque
data:
  key: {{ _hcp_onprem_etcd_key | b64encode }}
