---
apiVersion: v1
kind: Secret
metadata:
  labels:
    hypershift.openshift.io/safe-to-delete-with-cluster: "true"
  name: {{ hcp_onprem_cluster_name }}-pull-secret
  namespace: {{ hcp_onprem_namespace }}
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: >-
    {{ (hcp_onprem_pull_secret | to_json if hcp_onprem_pull_secret is mapping else hcp_onprem_pull_secret) | b64encode }}
