---
apiVersion: v1
kind: Secret
metadata:
  labels:
    hypershift.openshift.io/safe-to-delete-with-cluster: "true"
  name: {{ hcp_onprem_cluster_name }}-ssh-key
  namespace: {{ hcp_onprem_namespace }}
type: Opaque
data:
  id_rsa.pub: {{ hcp_onprem_ssh_public_key | b64encode }}
