---
apiVersion: v1
kind: Secret
metadata:
  labels:
    hypershift.openshift.io/safe-to-delete-with-cluster: "true"
  name: {{ hcp_onprem_cluster_name }}-htpasswd
  namespace: {{ hcp_onprem_namespace }}
type: Opaque
data:
  htpasswd: {{ _hcp_onprem_htpasswd_content }}
