---
- name: Create Networks
  ansible.builtin.include_tasks: create_network.yaml
  register: r_openshift_cnv_networks
  loop: "{{ networks | default([]) }}"
  loop_control:
    loop_var: _network
    index_var: _network_idx
