apiVersion: v1
baseDomain: {{ cluster_dns_zone }}
metadata:
  creationTimestamp: null
  name: {{ cluster_name }}

# It will be a compact cluster, so we specify 0 replicas
compute:
- architecture: amd64
  hyperthreading: Enabled
  name: worker
  platform: {}
  replicas: {{ worker_instance_count }}

# And 3 control plane nodes
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  platform: {}
  replicas: {{ control_plane_instance_count }}

# Cluster networking
networking:
  clusterNetwork:
  - cidr: {{ ai_cluster_network_cidr }}
    hostPrefix: 23
  machineNetwork:
  - cidr: {{ ai_network_prefix }}.0/{{ ai_network_prefix_length }}
  networkType: OVNKubernetes
  serviceNetwork:
  - {{ ai_service_network_cidr }}

# Here we set up VIPs
{% if control_plane_instance_count | int == 1 and worker_instance_count | int == 0 %}
platform:
  none: {}
{% else %}
platform:
  baremetal:
    apiVIPs:
      - {{ ai_network_prefix }}.100
    ingressVIPs:
      - {{ ai_network_prefix }}.101
{% endif %}

publish: External
pullSecret: "{{ ai_pull_secret | to_json | to_json }}"

{% if ai_use_abi_disconnected %}
imageDigestSources:
  - mirrors:
    - "{{ ai_use_abi_disconnected_primary_quay }}/quay_io/openshift-release-dev/ocp-release"
    - "{{ ai_use_abi_disconnected_secondary_quay }}/quay_io/openshift-release-dev/ocp-release"
    source: quay.io/openshift-release-dev/ocp-release
  - mirrors:
    - "{{ ai_use_abi_disconnected_primary_quay }}/quay_io/openshift-release-dev/ocp-v4.0-art-dev"
    - "{{ ai_use_abi_disconnected_secondary_quay }}/quay_io/openshift-release-dev/ocp-v4.0-art-dev"
    source: quay.io/openshift-release-dev/ocp-v4.0-art-dev
  - mirrors:
    - "{{ ai_use_abi_disconnected_primary_quay }}/registry_redhat_io/redhat/certified-operator-index"
    - "{{ ai_use_abi_disconnected_secondary_quay }}/registry_redhat_io/redhat/certified-operator-index"
    source: registry.redhat.io/redhat/certified-operator-index
  - mirrors:
    - "{{ ai_use_abi_disconnected_primary_quay }}/registry_redhat_io/redhat/community-operator-index"
    - "{{ ai_use_abi_disconnected_secondary_quay }}/registry_redhat_io/redhat/community-operator-index"
    source: registry.redhat.io/redhat/community-operator-index
  - mirrors:
    - "{{ ai_use_abi_disconnected_primary_quay }}/registry_redhat_io/redhat/redhat-marketplace-index"
    - "{{ ai_use_abi_disconnected_secondary_quay }}/registry_redhat_io/redhat/redhat-marketplace-index"
    source: registry.redhat.io/redhat/redhat-marketplace-index
  - mirrors:
    - "{{ ai_use_abi_disconnected_primary_quay }}/registry_redhat_io/redhat/redhat-operator-index"
    - "{{ ai_use_abi_disconnected_secondary_quay }}/registry_redhat_io/redhat/redhat-operator-index"
    source: registry.redhat.io/redhat/redhat-operator-index
  - mirrors:
    - "{{ ai_use_abi_disconnected_primary_quay }}/registry_redhat_io/rhel8/support-tools"
    - "{{ ai_use_abi_disconnected_secondary_quay }}/registry_redhat_io/rhel8/support-tools"
    source: registry.redhat.io/rhel8/support-tools
{% endif %}
