apiVersion: v1
baseDomain: {{ cluster_dns_zone }}
metadata:
  creationTimestamp: null
  name: {{ cluster_name }}

# It will be a compact cluster, so we specify 0 replicas
compute:
- architecture: amd64
  hyperthreading: Enabled
  name: worker
  platform: {}
  replicas: {{ worker_instance_count }}

# And 3 control plane nodes
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  platform: {}
  replicas: {{ control_plane_instance_count }}

# Cluster networking
networking:
  clusterNetwork:
  - cidr: {{ ai_cluster_network_cidr }}
    hostPrefix: 23
  machineNetwork:
  - cidr: {{ ai_network_prefix }}.0/{{ ai_network_prefix_length }}
  networkType: OVNKubernetes
  serviceNetwork:
  - {{ ai_service_network_cidr }}

# Here we set up VIPs
{% if control_plane_instance_count | int == 1 and worker_instance_count | int == 0 %}
platform:
  none: {}
{% else %}
platform:
  baremetal:
    apiVIPs:
      - {{ ai_network_prefix }}.100
    ingressVIPs:
      - {{ ai_network_prefix }}.101
{% endif %}

publish: External
pullSecret: {{ ai_pull_secret | to_json | to_json }}

sshKey: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCq0Y8w5SS2+XbWBGuUewuAw2a+WFHQ8r9agqx2nsGhBesw048FphtZKNWEQ2SmH1+WsLcLR01N4kzUQAWF2lF/v3UwgPK1bSH2HmX/906d5/v+foZpGJvbCIUXIPCBcT2/jJgl5YOWRGZBIB7r2BWk3Cq49hdZKlx18MJR9AQUpSuzQNwOyysiHpDNYwiVeVH5RrdZCcBSyCX43m9ybzbNwG2ZbB5EP75AP1XJ0bijBur3lF7vW3+MHzoOdAyyiKF59qXM99wr8U2cXXf7TpUZH5yOJF62YWM7cdJPzio/TbVCuBaz/p/4UWn+c1Y4Lq3rHV18xTv2nE1Ke1RmaPwF josegonz@josegonz.remote.csb"

{% if ai_use_abi_disconnected %}
imageDigestSources:
  - mirrors:
    - "{{ ai_use_abi_disconnected_first_quay }}/quay_io/openshift-release-dev/ocp-release"
    - "{{ ai_use_abi_disconnected_second_quay }}/quay_io/openshift-release-dev/ocp-release"
    source: quay.io/openshift-release-dev/ocp-release
  - mirrors:
    - "{{ ai_use_abi_disconnected_first_quay }}/quay_io/openshift-release-dev/ocp-v4.0-art-dev"
    - "{{ ai_use_abi_disconnected_second_quay }}/quay_io/openshift-release-dev/ocp-v4.0-art-dev"
    source: quay.io/openshift-release-dev/ocp-v4.0-art-dev

{% endif %}
