apiVersion: config.openshift.io/v1
kind: ImageTagMirrorSet
metadata:
  name: operator-index-mirrors
spec:
  imageTagMirrors:
  - mirrors:
    - "{{ ai_use_abi_disconnected_primary_quay }}/registry_redhat_io/redhat/certified-operator-index"
    #- "{{ ai_use_abi_disconnected_secondary_quay }}/registry_redhat_io/redhat/certified-operator-index"
    source: registry.redhat.io/redhat/certified-operator-index
  - mirrors:
    - "{{ ai_use_abi_disconnected_primary_quay }}/registry_redhat_io/redhat/community-operator-index"
    #- "{{ ai_use_abi_disconnected_secondary_quay }}/registry_redhat_io/redhat/community-operator-index"
    source: registry.redhat.io/redhat/community-operator-index
  - mirrors:
    - "{{ ai_use_abi_disconnected_primary_quay }}/registry_redhat_io/redhat/redhat-marketplace-index"
    #- "{{ ai_use_abi_disconnected_secondary_quay }}/registry_redhat_io/redhat/redhat-marketplace-index"
    source: registry.redhat.io/redhat/redhat-marketplace-index
  - mirrors:
    - "{{ ai_use_abi_disconnected_primary_quay }}/registry_redhat_io/redhat/redhat-operator-index"
    #- "{{ ai_use_abi_disconnected_secondary_quay }}/registry_redhat_io/redhat/redhat-operator-index"
    source: registry.redhat.io/redhat/redhat-operator-index
  - mirrors:
    - "{{ ai_use_abi_disconnected_primary_quay }}/registry_redhat_io/rhel8/support-tools"
    #- "{{ ai_use_abi_disconnected_secondary_quay }}/registry_redhat_io/rhel8/support-tools"
    source: registry.redhat.io/rhel8/support-tools
